<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
</head>
<body>
    <h2>Enter detail for add new post</h2>
    <form method="post" action="/posts">
        <input type="text" name="user" id="user" placeholder="Enter user name"><br><br>

        <textarea name="purpose" id="pur" placeholder="Enter your purpose"></textarea><br>
        <button>Save post</button>
    </form>
</body>
</html>